doctype html 
html 
    head 
        title Harry Dance Academy 
        block scripts 
        block style
    body 
        nav#navbar.top 
            ul
                li #[a(href="/") Home]
                li #[a(href="#ourMission ") About]
                li #[a(href="#sponsorSection") Sponsor]
                li #[a(href="/contact") Contact Us]
        block content  
        footer#footer 
            | Copyright © 2021 DanceAdacemy.com | All rights reserved